<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/nav.ejs") %>

            <div class="details content">
                <h2>
                    <%= blog.title %>
                </h2>
                <diV class="blog-meta">
                    <p><strong>Author:</strong>
                        <%= blog.author %>
                    </p>
                    <p><strong>Published on:</strong>
                        <%= blog.publishedAt.toLocaleDateString("en-US", { year: "numeric" , month: "short" ,
                            day: "numeric" }) %>
                    </p>
                    <p><strong>Reading Time:</strong>
                        <%= blog.readingTime %> min
                    </p>
                </diV>
                <div class="content markdown-body">
                    <%- htmlBody %>
                </div>
                <a class="delete" data-doc="<%= blog._id %>">
                    <img src="/trashcan.svg" alt="delete icon">
                </a>
            </div>

            <%- include("../partials/footer.ejs") %>

                <script>
                    const trashcan = document.querySelector('a.delete');

                    trashcan.addEventListener('click', (e) => {
                        const endpoint = `/blogs/${trashcan.dataset.doc}`;

                        fetch(endpoint, {
                            method: 'DELETE'
                        })
                            .then((response) => response.json())
                            .then((data) => window.location.href = data.redirect)
                            .catch(err => console.log(err));
                    })
                </script>
    </body>

</html>