<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/nav.ejs') %>

            <div class="create-blog content">
                <form action="/blogs/<%= blog._id %>/edit" method="POST">
                    <label for="title">Blog Title:</label>
                    <input type="text" id="title" name="title" value="<%= blog.title %>" required>

                    <label for="snippet">Blog Snippet:</label>
                    <input type="text" id="snippet" name="snippet" value="<%= blog.snippet %>" required>

                    <div id="editor" style="height: 300px;"></div>

                    <input type="hidden" name="body" id="blogBody">

                    <label for="author">Author Name:</label>
                    <input type="text" id="author" name="author" value="<%= blog.author %>" required>

                    <label for="day">Learning Day:</label>
                    <input type="number" id="day" name="day" min="1" value="<%= blog.day %>" required>

                    <label for="tags">Tags (comma-separated):</label>
                    <input type="text" id="tags" name="tags" value="<%= blog.tags.join(', ') %>">

                    <button type="submit" name="action" value="save-draft">Save Draft</button>
                    <button type="submit" name="action" value="publish">Publish</button>
                </form>
            </div>

            <%- include('../partials/footer.ejs') %>

                <!-- Added Quill editor CDN links -->
                <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
                <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

                <script>
                    var quill = new Quill('#editor', {
                        theme: 'snow',
                        placeholder: 'Write your blog here...',
                        modules: {
                            toolbar: [
                                [{ header: [1, 2, 3, false] }],
                                ['bold', 'italic', 'underline'],
                                [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                                ['link', 'blockquote', 'code-block'],
                                ['clean']
                            ]
                        }
                    });

                    // Load existing blog content into editor
                    const blogContent = JSON.parse('<%= JSON.stringify(blog.body) %>');
                    quill.root.innerHTML = blogContent;

                    const form = document.querySelector('form');

                    form.onsubmit = function () {
                        document.querySelector('#blogBody').value = quill.root.innerHTML;
                    };
                </script>

    </body>

</html>